.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: var(--standard-width);
    margin: 0 auto;
    border: 2px solid var(--gray-border);
    border-radius: 8px 8px 0 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.logoLine{
    display: flex;
    flex-direction: row;
    align-items: center;    
    color: var(--dark-text);
    font-size: var(--font-xl); 
    // img{
    //     width: var(--font-xl);
    //     height: var(--font-xl);
    //     margin-right: 10px;
    // }
}

.navMenu{
    padding: 0;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    // gap: 1rem;   
    // border: 1px solid var(--gray-border);        
}

.icon{
        width: var(--font-lg);
        height: var(--font-lg);
        margin-right: var(--font-xs);
        background-color: var(--primary-blue);
        border-radius: 50%;
        margin-top: auto;
        margin-bottom: auto;
    }
