@use './styles/variables' as *;

.mainContainer{    
    height: 90vh;
}

.content{
    display: flex;
    flex-direction: column;
    height: var(--standard-height);

    @media (min-width: $widthLimit) {
        flex-direction: row-reverse;
    }
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--primary-blue);
    color: var(--white);

    height: calc(var(--font-xxl) + 1rem); 

    @media (min-width: $widthLimit) {
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}

.topNavButtons{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;   
}

.footer{
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid var(--gray-border);
    padding: 0.5rem;
    @media (min-width: $widthLimit) {
        height: var(--standard-height);   
        width: 20%;     
    }
}
.footerNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--light-gray-bg);
    color: var(--dark-text);

    height: var(--font-xxl);
    width: 100%;

    @media (min-width: $widthLimit) {
        flex-direction: column;       
        justify-content: space-around;
        height: var(--standard-height);
    }
    
}

.lucideIconTop{
    width: var(--font-xl);
    height: var(--font-xl);   
    background-color: var(--primary-blue); 
}

.lucideIconFooter{
    width: var(--font-xl);
    height: var(--font-xl);  
    background-color: var(--light-gray-bg);     
}