@import './styles/variables';

:root{
    --primary-blue:     #3B82F6;   // Buttons like "Login"
    --light-gray-bg:    #F9FAFB;   // Background of the entire app
    --gray-border:      #E5E7EB;   // Input borders, card outlines
    --dark-text:        #111827;   // Main text (headings, questions)
    --light-text:       #6B7280;   // Secondary text (labels, meta info)
    --green-success:    #10B981;   // Feedback: OK 
    --red-error:        #EF4444;   // Feedback: Error messages 
    --yellow-warning:   #F59E0B;   // Feedback: Warning or info messages

    --white:            #FFFFFF;   // Base color for cards and inputs
    --input-bg:         #F3F4F6;   // Input fields background

    --font-xxl: 2rem;      // ~32px — Main headings 
    --font-xl:  1.5rem;     // ~24px — Section titles 
    --font-lg:  1.25rem;    // ~20px — button text
    --font-md:  1rem;       // ~16px — Normal body text, form labels
    --font-sm:  0.875rem;   // ~14px — Subtext, meta info 
    --font-xs:  0.75rem;    // ~12px — Optional notes, input hints

    --standard-width: 100%; // Standard relative width for main content areas
    --standard-height: 80%; // Standard relative height for main content areas
    --app-max-width: 30rem; // Max width for the app container
    --img-max-height: 15rem; // Max height for images in posts    

    @media (prefers-color-scheme: dark){
        // Backgrounds
        --light-gray-bg: #1F2937;   // Primary background (replaces light-gray)
        --input-bg:      #111827;   // Cards, input backgrounds
        --gray-border:   #374151;   // Outlines, dividers
        --white:         #1F2937;   // Base color for cards and inputs

        // Text
        --dark-text:   #F9FAFB;   // Headings, main text
        --light-text:  #9CA3AF;   // Labels, secondary info     
    }

    @media (min-width: $widthLimit) {      
        --app-max-width: 100%; 
        --standard-height: 100%;           
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

html, body {
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: var(--dark-text);
    background-color: var(--light-gray-bg);
}

#root {
    height: 100%;
    max-width: var(--app-max-width);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}