@use '../styles/mixins' as *;

.homeMain{
    width: 100%;
    height: var(--standard-height);    
    @include pageFrame;    
}

.postsFeed{
    margin-top: 1rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   
}

.postCard{
    @include postCardFrame;
    @include shadowBorder;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.lucideIconPost{
    width: var(--font-xl);
    height: var(--font-xl);  
    background-color: var(--light-gray-bg);     
}

.postActions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    .likeComment{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
}