@use '../styles/mixins' as *;
@import '../styles/variables';

.homeMain{
    width: 100%;
    height: var(--standard-height);    
    @include pageFrame;    
}

.userGreeting{
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    .lucideIcon{
        width: var(--font-xl);
        height: var(--font-xl); 
        stroke-width: 3;    
    }

    @media (min-width: $widthLimit) {      
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.postsFeed{
    margin-top: 1rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   
}
