@use '../styles/mixins' as *;

.notFound{
    width: 100%;
    height: var(--standard-height);    
    @include pageFrame;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

