@use '../styles/mixins' as *;

.searchMain{
    width: 100%;
    height: var(--standard-height);    
    @include pageFrame;
    
}

.searchHeader{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;

    .SearchInput{
        width:90%;
        box-sizing: border-box;
        font-size: var(--font-lg);
        border: 1px solid var(--gray-border);
        border-radius: 0.5rem;
    }
}

.searchResults {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    align-content: space-around;
}

.searchResultItem {
    width: 88%; 
    display: flex;
    align-items: center; 
    margin:0.5rem auto;
    background-color: var(--white-bg);
    border-radius: 0.75rem;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.05); 
    gap: 1rem; 
    justify-content: space-between; 
    border: 1px solid  #d0d0d0;
    padding: 1rem; 
        &:hover {
          cursor: pointer;
          background-color: var(--light-gray-bg);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
          }

    .userAvatar {
    width: 88px;
    height: 88px; 
    border-radius: 50%;
    background-color: var(--light-gray-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .userInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    margin-right: 1rem;

       .username {
       font-size: var(--font-lg); 
       font-weight: bold;
       color: #333; 
       margin-bottom: 1.5rem; 
       }

    .userBio {
    font-size: var(--font-sm); 
    color: #666;
    margin-top: 0.5rem; 
    }
   }   
}

.searchResultsPosts {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    align-items: center;
    align-content: space-around;
}

.lucideIconFooter{
    width: var(--font-xl);
    height: var(--font-xl);  
    background-color: var(--light-gray-bg);     
}

.noResults {
    width: 100%;
    text-align: center;
    font-size: var(--font-md);
    color: var(--gray-text);
    margin-top: 1rem;
    font-weight: 800;
}


