.iconButton{
    border: none;
    display: flex;
    align-items: center;   
    justify-content: center;  
    gap: 0.5rem;
    &:hover{
        transform: scale(1.3);
    }
    font-size: var(--font-lg);
    background-color: var(--light-gray-bg);
}