.iconButton{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;   
    // width: 100%;
    justify-content: center;  
    gap: 0.5rem;
    cursor: pointer;
    &:hover{
        transform: scale(1.3);
    }
    &:disabled{
        cursor: default;
        transform: none;        
    }
    font-size: var(--font-lg);
    background-color: var(--light-gray-bg);   

}

.hasLabel {
    width: 100%;
    justify-content: flex-start;
    padding-left: 1rem;
}