.formField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    box-sizing: border-box;

    label {
        font-size: var(--font-lg);
        background-color: var(--white-bg);
    }    
}

.inputField {
        box-sizing: border-box;
        font-size: var(--font-lg);
        padding: 0.25rem;
        border: 1px solid var(--gray-border);
        border-radius: 0.5rem;
        width: 65%;
}

@media (max-width: 500px){
    .formField{
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;                 
    }    

    .inputField{
        width: 100%;
        
    }


}