.passwordContainer {
    position: relative;
    width: 100%;
}

.togglePasswordVisibilityButton {
    border: none;
    background: none;
    cursor: pointer;
    height: var(--font-lg);
    position: absolute;
    top: 50%;
    transform: translateY(-60%);    
    right: 0.5rem;
}

@media (max-width: 500px){
    .togglePasswordVisibilityButton{
        position: absolute;
        transform: translateY(10%);       
    }    
}