.avatarSection {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;       
    // button {
    //     position: absolute;
    //     right: 0.5rem;
    //     top: 50%;
    //     transform: translateY(-50%);        
    //     &:hover{
    //         transform: scale(1);
    //         transform: translateY(-50%);
    //     }

    // }
}

.uploadButton {
    border: none;
    background: none;
    cursor: pointer;
    height: var(--font-lg);
    position: absolute;
    top: 50%;
    transform: translateY(-60%);    
    right: 0.5rem;
}

@media (max-width: 500px){
    .uploadButton{
        position: absolute;
        transform: translateY(10%);       
    }    
}

.lucideIcon {
    background-color: var(--white-bg);
}